

  .section-title {
    padding-bottom: 40px;
    text-align: center;
  }

  .section-title h2 {
    margin: 0;
  }

  .section-title small {
    display: block;
  }


  /*---------------------------------------
      TEAM              
  -----------------------------------------*/

  .team-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
    text-align: left;
  }

  .team-info {
    padding: 20px 30px;
  }

  .team-image img {
    width: 100%;
  }

  .team-thumb .social-icon {
    border-top: 1px solid #f0f0f0;
    padding: 4px 20px 0 20px;
  }

  .team-thumb .social-icon li a {
    background: #ffffff;
    color: #252020;
  }

  .team-info h3 {
    margin: 0;
  }

  
  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #c2337b;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #c2337b;
    color: #ffffff;
  }

  

